package index

import "portfolio/view/layout"

templ ShowIndex(){
   @layout.Base(){
    <div class="hero">
      <h1 class="name"> Viktor Rönnbacka Nybäck </h1>
      <div class="description">
        <p> KTH ML Student & </p>
        <p> Fullstack developer </p> 
        <p>Who loves to learn new things </p>
        <p>and build solutions to digital problems   </p>
      </div>
      <a href="/contact" class="btn"> Reach Out </a>
    </div>
   }
}